# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/.qtc/package-manager/conan_provider.cmake
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/.qtc/package-manager/LICENSE.conan
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/.rcc/qmlcache/all_aotstats.aotstatslist
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/.rcc/qmlcache/appProjet_2048_Main_qml.cpp
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/.rcc/qmlcache/appProjet_2048_Main_qml.cpp.aotstats
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/.rcc/qmlcache/appProjet_2048_qml_loader_file_list.rsp
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/.rcc/qmlcache/appProjet_2048_qmlcache_loader.cpp
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/.rcc/qmlcache/module_appProjet_2048.aotstatslist
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/.rcc/qmllint/appProjet_2048.rsp
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/.rcc/qmllint/appProjet_2048_json.rsp
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/.rcc/qmllint/appProjet_2048_module.rsp
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/appProjet_2048.exe
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/appProjet_2048_autogen/deps
build/Desktop_Qt_6_8_2_MinGW_64_bit-Debug/appProjet_2048_autogen/EWIEGA46WW/moc_damierdyn.cpp.d
